.page-header
    h3 Résultat de la recherche

.row
    .span12
        table.table.table-bordered
            thead
                tr
                    th Nom
                    th Prénom
                    th Email
                    th Localisation
                    th Blog
                    th Pseudo
                    th Github Url
            tbody
                each document in result.hits.hits
                  tr
                    td= document._source.name
                    td= document._source.firstname
                    td= document._source.email
                    td= document._source.location
                    td= document._source.blog
                    td= document._source.pseudo
                    td= document._source.githubUrl